.user__follows,
.user__username {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  background-color: #C4C4C4;
  border-radius: 10px;
  color: #000;
}

.user__username {
  cursor: pointer;
  padding: 14px 57px;
}
