.wrapper {
  padding: 10px 20px;
  background-color: #7E4343;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  width: 201px;
}

/* HEADER USER */
.user__flexbox {
  display: flex;
  gap: 25px;
}
